* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

input {
  margin: 5px;
}

#conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#inputs-container {
  display: flex;
  flex-direction: column;
}

#meme-image-container {
  background-color: white;
  border: 1px solid black;
  margin: 10px;
  height: 400px;
  width: 400px;
}

#meme-text {
  color: white;
  font-size: 30px;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  z-index: 1;
}

#meme-image {
  position: absolute;
  height: 400px;
  width: 400px;
}

#fire {
  background-color: red;
  color: white;
  padding: 5px;
}

#water {
  background-color: blue;
  color: white;
  padding: 5px;
}

#earth {
  background-color: green;
  color: white;
  padding: 5px;
}

.meme-img {
  border: 1px solid black;
  height: 80px;
  margin: 5px;
  width: 120px;
}

#memes-section {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 140px;
}

#conteudo-memes {
  align-items: center;
  display: flex;
  justify-content: center;
}
